
html {
  background: url(img/mtnc.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#md{
 font-family: bangers 
}
 
  button, input, #user-weight::placeholder {
    background-color: #17a02e; 
    color: #131814; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    margin: 5px; 
  }
  
 
  #output {
    background-color: #2da33b; 
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width:fit-content;
   
  }
  
  
  h1 {
    color:green; 
    text-align: center;
    border-color:#131814;
    background-color: greenyellow;
    width:fit-content;
    margin: 0 auto;
  }
  #slogan{
    padding:10px;
    color:greenyellow;
    font-size:20px;
    
  }
  #sale{
    padding:10px;
    color:greenyellow;
    font-size:20px;
    text-decoration:wavy;
  }