body {
    background-image: url(img/scale.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-position-x: center;
    background-position-y:center;
    margin: 0; 
    padding: 0; 
  }
  
  button, input, #user-weight::placeholder {
    background-color: #17a02e;
    color: #181313; 
    padding: 10px; /
    border: none; /
    border-radius: 5px; 
    margin: 5px; /
  }
  
  #output {
    background-color: #7d7880;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px; 
  
  h1 {
    color: #3a8110;
    text-align: center;
  }
}
  